// src/app/components/navbar/navbar.component.scss
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000;
    color: #fff;
  
    .social-icons, .login-link {
      a {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
      }
    }
  
    .logo-container {
      img {
        height: 100px;
      }
    }
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #000;
    a {
      color: #fff;
      text-decoration: none;
      margin: 0 15px;
    }
  }
  