/* starship-details.component.scss */
.starship-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding-left: 20px; 
}

/* Ajuste para los títulos dentro del contenedor para asegurar su alineación a la izquierda */
.starship-title, .films-section > h2, .pilots-section > h2 {
  text-align: left;
  width: 100%;
  margin-top: 40px;
}



.image-and-data-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-container img {
  height: 383px;
  border-right: 2px solid rgb(250, 222, 75);
}

.data-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
  background-color: #222;
  color: #bbb;
  padding: 10px; 
  border-radius: 5px;
  position: relative;
  margin-left: 0;
  height: 383px; 
  overflow: auto; 
}

/* Ajustar el tamaño de la fuente y el espacio de interlineado para h3, h5 y p */
.data-container p {
  font-size: 0.9rem; 
  line-height: 1; 
  margin-top: 0px; 
  margin-bottom: 10px; 
}

/* Específico para el modelo para asegurar que sigue inmediatamente después del nombre */
.data-container h5 {
  margin-top: 4px; /* Espacio específico encima del modelo */
}

/* Coloca el nombre y el modelo uno sobre el otro al inicio */
.data-container h3, .data-container h5 {
  grid-column: 1 / -1; /* Hace que el nombre y el modelo abarquen ambas columnas */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #bbb;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1;
  &:hover {
    color: #fff;
  }
}

h4 {
  margin: 0;
  line-height: 1.2;
}

p, h3, h4 {
  margin: 2px 0;
  line-height: 1.2;
}

/* Asegura que los contenedores de películas y pilotos ocupen el ancho completo y alineen sus elementos a la izquierda */
.films-section, .pilots-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.films-section h2, .pilots-section h2 {
  text-align: left;
  margin-left: 0px;
}

.movies-container, .pilots-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  margin: 0; 
}


/* Estilos para los cuadros de películas y pilotos */
.movie-card, .pilot-card {
  object-fit: cover; 
  margin-bottom: 20px; 
}

.movie-card img, .pilot-card img {
  object-fit: cover; 
}

/* Aumento del espacio vertical entre las secciones de Films y Pilots */
.films-section, .pilots-section {
  margin-top: 40px; 
}

/* Estilos para el banner dentro de pilots-section para asegurar que ocupe todo el ancho */
.alert-warning {
  width: 100%; 
  margin-left: 0; 
  margin-right: 0; 
}


@media (max-width: 600px) {
  .image-and-data-container {
    flex-direction: column;
    align-items: center;
  }
  .data-container {
    margin-left: 0;
    grid-template-columns: 1fr;
  }
  .films-section h2, .pilots-section h2 {
    margin-left: 20px;
  }
}
