// starship-list.component.scss
.starship-item {
  background-color: #222; 
  color: #bbb; 
  padding: 15px;
  margin: 0 auto 20px; // Centrado horizontal y margen inferior
  width: 60%; // Ancho relativo al contenedor padre
  max-width: 600px; // Máximo ancho del cuadro
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  border-radius: 5px; 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left; 

  p {
    margin: 5px; 
    width: 100%; 

    &:first-child {
      text-transform: uppercase; 
    }

    &:nth-child(2) { // Estilos específicos para el párrafo del modelo
      font-size: 0.9em; 
      color: #888; 
    }
  }

  &:first-child {
    margin-top: 20px; // Espacio adicional por arriba para el primer cuadro
  }
}

.starships-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.starship-item, .load-more-container {
  margin: 0 auto 20px; // Asegura alineación y margen para ambos, cuadros y botón
  width: 60%; // Ancho igual al de los cuadros para alineación
  max-width: 600px; // Máximo ancho igual al de los cuadros
}

.load-more-button {
  background-color: rgb(250, 222, 75); 
  color: rgb(0, 0, 0); 
  border: 2px solid rgb(250, 222, 75);
  margin-top: 0;
  min-width: 210px;
  height: 48px;
  padding: 4px 20px;
  font-size: 1rem;
  line-height: 24px;
  border-radius: 24px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  transition: background-color 0.3s; // Añade transición para el cambio de color suave

  &:hover {
    background-color: rgb(242, 210, 78); 
  }
}
