<!-- starships-list.component.html -->
<div *ngIf="starships$ | async as starships; else loading">
  <h2>Starships</h2>
  <div *ngFor="let starship of starships" (click)="showStarshipDetails(starship)">
    <p><strong>Name:</strong> {{ starship.name }}</p>
    <p><strong>Model:</strong> {{ starship.model }}</p>
    <!-- Agrega más datos aquí si es necesario -->
  </div>
  <button (click)="loadMore()">Load More</button>
</div>

<ng-template #loading>
  <p>Loading starships...</p>
</ng-template>

<!-- Detalles de la nave seleccionada -->
<div *ngIf="selectedStarship">
  <h2>Detalles de la Nave</h2>
  <p><strong>Nombre:</strong> {{ selectedStarship.name }}</p>
  <p><strong>Modelo:</strong> {{ selectedStarship.model }}</p>
  <!-- Agrega más detalles aquí según los datos disponibles en tu API -->
  <button (click)="selectedStarship = null">Cerrar Detalles</button>
</div>
<app-starship-details [starship]="selectedStarship"></app-starship-details>
